# For PyTorch with CUDA support, run:
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
Flask-Mail
Flask-Moment
flask_socketio
bcrypt
python-dotenv
numpy
pandas
scipy
scikit-learn
pytesseract
opencv-python
Pillow
APScheduler
plotly
XlsxWriter
Flask-Babel
transformers
tiktoken
transformers_stream_generator
einops
optimum[onnxruntime]
email_validator
